.-container {
  background: #1E0050;
}

.nova-ordem-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  background: #1E0050;
  display: flex;
  align-items: center;
  justify-content: center;
}



.nova-ordem-container .content {
  width: 100%;
  padding: 96px;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nova-ordem-container .content section {
  width: 100%;
  max-width: 380px;
}

.nova-ordem-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
  color: #efefef;
}

.nova-ordem-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.nova-ordem-container .content form {
  width: 100%;
  max-width: 450px;
}

.nova-ordem-container .content form input,
.nova-ordem-container .content form textarea {
  margin-top: 8px;
}